button {
  border: none;
  background-color: rgb(234, 227, 220);
  font-size: 24px;
  color: rgb(23, 23, 23);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(180, 172, 165);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(198, 82, 69);
}

.equals:hover {
  background-color: rgb(199, 110, 100);
}
